@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.container {
  display: flex;
  align-items: center;
  margin: $artist-padmar;
  padding: $artist-padmar;
  width: 300px;
  background-color: $browna;
  border-radius: $artist-border;
  box-shadow: $box-shadow;
}

.image {
  @include image(100px, 4px);
  margin-right: 20px;
}

.trackInfo {
  flex-direction: column;
  display: flex;
  color: $white;
  font-weight: $normal-font-weight;
}

.name {
  display: flex;
  margin-bottom: $item-marbottom;
  color: $whitea;
}

.songName {
  margin-bottom: $item-marbottom;
}

.songNumber {
  color: $whitea;
}

.artists {
  &:not(:last-child):after {
    content: ',';
    margin-right: 4px;
  }
}
