@import '../../styles/variables.scss';

.container {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 15px;
  width: 300px;
  background-color: $browna;
  border-radius: 12px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4) !important;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-right: 20px;
}

.trackInfo {
  flex-direction: column;
  display: flex;
  color: $white;
  font-weight: 500;
}

.name {
  display: flex;
  margin-bottom: 7px;
  color: rgba(255, 255, 255, 0.8);
}

.songName {
  margin-bottom: 7px;
}

.songNumber {
  color: rgba(255, 255, 255, 0.8);
}

.artists {
  &:not(:last-child):after {
    content: ',';
    margin-right: 4px;
  }
}
