@import '../../styles/variables.scss';

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  // background: linear-gradient(to right, #3494e6, #ec6ead);
  background: linear-gradient(
    to right,
    #9d50bb,
    #6e48aa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 4rem;
}

.artistSection {
  padding: 4rem;
  // background-color: $blue;
  background: linear-gradient(
    to right,
    #141e30,
    #243b55
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
}
