@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.trackSection {
  background: $track-section-bg;
  padding: $section-padding;
}

.artistSection {
  padding: $section-padding;
  background: $artist-section-bg;
}

.container {
  @include property(padding, 3rem, 1rem);
  @include flex;
  flex-wrap: wrap;
}
