$main-green: #1db954;
$secondary-green: #1ed780;
$black: #191414;
$white: #fff;
$seafoam: #19e68c;
$neon-green: #5ff550;
$citric: #cdf564;
$fuchsia: #f19bcf;
$pink: #ffcdd2;
$red: #eb1e32;
$tangerine: #ff4632;
$orange: #ff6437;
$blue: #4100f5;
$azure: #509bf5;
$aquamarine: #9bf0e1;
$sunflower: #fadda8;
$yellow: #fae62d;
$brown: rgb(85, 75, 53);
$browna: rgba(85, 75, 53, 0.3);
$gray: rgb(240, 240, 240);

