@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.container {
  @include flex(column);

  & > svg {
    fill: $black;
    font-size: 15rem;
  }
}

.title {
  margin-top: $connect-margin;
  font-size: $title-font-size;
  font-weight: $bold;
  @include mq('mobile') {
    font-size: 30px;
  }
}

a {
  text-decoration: none;
}

.button {
  @include flex;
  @include bordered(40px);
  @include property(padding, 20px, 40px);
  margin-top: $connect-margin;
  background-color: $black;
  color: $white;
  font-weight: $bolder;
  font-size: $button-large-font-size;
  cursor: pointer;

  & > svg {
    margin-left: 10px;
    fill: $white;
    font-size: 24px;
  }
}
