@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.container {
  @include flex(column);
  @include bordered($artist-border);
  margin: $artist-padmar;
  padding: $artist-padmar;
  color: $white;
}

.image {
  @include image(300px, 4px);
  margin-bottom: 10px;
  box-shadow: $box-shadow;
}

.artistName {
  font-size: $artist-font-size;
  margin-bottom: $item-marbottom;
}
