@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.container {
  @include flex;
  margin-top: -$connect-margin;
  background: $container-btn-bg;
}

.button {
  @include property(padding, 15px, 50px);
  @include bordered($artist-border);
  font-size: $button-large-font-size;
  margin-top: -20px;
  margin-bottom: 70px;
  background: $playlist-btn-bg;
  color: $fuchsia;
  font-weight: $bolder;
  cursor: pointer;
  box-shadow: $button-box-shadow;

  &:hover {
    opacity: 0.8;
  }
}
