@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  @include mq('mobile') {
    z-index: 1;
    justify-content: center;
  }
}

.title {
  font-size: $banner-title;
  font-weight: $bold;
  color: $white;
  text-shadow: $text-shadow;
}

.banner {
  @include image(295px, 12px);
  position: absolute;
  top: -162px;
  right: 0;
  animation: crescendo 2s alternate infinite ease-in;
  box-shadow: $box-shadow;
  @include mq('mobile') {
    @include image(200px, 12px);
    right: 20px;
    top: -100px;
    z-index: -1;
  }
}

@keyframes crescendo {
  0% {
    transform: scale(1);
  }
  100% {
    transform: $transform;
  }
}
