@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.section {
  @include property(padding, 3rem, 0);
  @include flex(column);
  background: $description-bg;
  @include mq('mobile') {
    padding: 3rem 3rem;
  }
}

.container {
  @include flex;
  @include property(padding, 6rem, 3rem);
}

.img {
  @include image(150px, 50%);
  @include border(4px, solid, $white);
  margin-right: 25px;

  @include mq('mobile') {
    @include image(85px, 50%);
    margin-right: 15px;
  }
}

.description {
  font-size: $large-font-size;
  color: $brown;
  letter-spacing: -1px;

  @include mq('mobile') {
    font-size: 15px;
  }
}

.buttonContainer {
  @include mq('mobile') {
    margin-bottom: 3rem;
    margin-top: -1rem;
  }
}

.button {
  @include property(margin, 0, 10px);
  @include property(padding, 10px, 20px);
  @include bordered(18px);
  background: $description-button-bg;
  color: $white;
  cursor: pointer;
  box-shadow: $button-box-shadow;

  &:hover {
    transform: $transform;
    transition: $transition;
  }
}
