@import '../../styles/variables.scss';

.header {
  width: 100%;
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: center;
}

.nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  display: flex;
  font-size: 30px;
  margin: 10px;
  & > svg {
    fill: $white;
    margin-right: 15px;
  }
}

.avatar {
  margin: 10px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.button {
  margin: 0 10px;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid $white;
  color: $white;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    transition: 100ms;
    background-color: $white;
    color: $black;
  }
}
