@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.header {
  @include flex;
  background-color: $black;
  color: $white;
}

.nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $artist-padmar;
}

.logo {
  display: flex;
  font-size: $large-font-size;
  margin: $margin;
  & > svg {
    fill: $white;
    margin-right: $artist-padmar;
  }
  @include mq('mobile') {
    margin: 10px 0 10px 53px;
  }
}

.button {
  @include property(margin, 0, 10px);
  @include property(padding, 8px, 20px);
  @include bordered(4px);
  @include border(2px, solid, $white);
  background-color: transparent;
  color: $white;
  font-weight: $normal-font-weight;
  cursor: pointer;
  @include mq('mobile') {
    margin: 10px 51px;
  }

  &:hover {
    transition: $transition;
    background-color: $white;
    color: $black;
  }
}
