@import '../../styles/variables.scss';

@import '../../styles/_mixins.scss';

.titleContainer {
  @include flex(column);
  margin-top: 6rem;
  color: $grayish;
}

.infoHeader {
  font-size: $title-font-size;
  font-weight: $bolder;
  margin-bottom: $connect-margin;
  text-transform: capitalize;
}

.infoDescription {
  margin-bottom: $connect-margin;
  font-size: $button-large-font-size;
  font-weight: $normal-font-weight;
  @include mq('mobile'){
    font-size: 12px;
  }
}
